
.week-summary {
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid black;

    &__description {
    color: black;
    font-family: sans-serif;
}
    &__title {
    text-align: center;
    color: #21a179;
}
    &__title::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: tomato;
    border-radius: 50%;
}
&__title::after {
     content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: tomato;
    border-radius: 50%;
}
}